
/* .contact-section {
  overflow-x: hidden;  
} */

.contact-bg {
  background-image: url("https://t4.ftcdn.net/jpg/04/82/89/97/360_F_482899787_2087qcGiSModQ22zW51N41vLfjsFs9E7.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  /* overflow: hidden;  */
}


.head2 {
  animation: h2-fade 3s ease-in-out;
}

@keyframes h2-fade {
  0% {
    opacity: 0;
    transform: translateX(0px); 
  }
  100% {
    opacity: 1;
    transform: translateX(0px); 
  }
}

.input1,
.input2 {
  height: 50px;
  width: 550px;
}

.input3 {
  width: 550px;
}

.contact-body {
  display: flex;
  flex-wrap: wrap;
  justify-content:start;
  gap: 30px;
}

.contact-form {
  flex: 1;
  min-width: 300px;
}

.contact-img {
  flex: 1;
  min-width: 200px;
  object-fit: cover;
}

.icon-1,
.icon-2,
.icon-3{
  font-size: larger;
  display: flex;
  margin-bottom: 20px;
 }

.i1:hover,
.i2:hover,
.i3:hover{
  color:rgb(29, 127, 198);
  transform: scale(1.2); 
  transition: all 0.2s ease-in;
}

.contact-img {
  height: 400px;
  width: 500px;
  animation: img-fade 3s ease;
  animation-delay: 1s;
}



